/** Complimentary Colors 
* Base Color (white sand): #F0E7CA;
* Lighter: #FFFBF0;
* Darker: #A39979;
* Complimentary (lilac) : #6971A3; 
* Complimentary (indigo) : #004771;
* Dark Gray (almost black): #555555
*/

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

header, section, footer, aside, nav, main, article, figure
{ 
	display: block !important;
}

* { box-sizing: border-box; } /* Correct padding */
ul, p { margin: 0; padding: 0; } /* reset webkit-margins */
p { line-height:1.5em; }
p + p { margin-top: 1em; }
li { list-style-type:none; }
a { text-decoration:none; color:#004771; }
a:hover { color:#9dabce; }
a:visited { color:#004771 }
a:visited:hover { color:#9dabce; }




body {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background-color:#F5F5DC;
}

h3 { font-family: 'Neuton', serif; font-size:1.4em; }
	
/********* HEADER ********/
	header {
		width:100%;
		height:140px;
		padding: 10px 0;
		z-index:0;
		text-align:center;
		background-color:#eee;
		
		background-image:url('img/header.jpg');
	    background-repeat: repeat-x;
	}
	
	header h1 {
		font-family: 'Neuton', serif;
		letter-spacing:4px;
	}

	div#subinfo {
		width:35%;
		margin:0 auto;
		text-align: center;
		letter-spacing:2px;
		
		/* Centers div itself within page */
		left:25%;
		width:50%;
		top:25%;	
	}


/********* BODY ********/
	div#content {
		clear: both; 
		margin: 0 auto;
		width: 90%;
		height:100%;
		
		text-align: center;
	}
	
	nav, section {
		text-align:left;
	}
	
	
/*** LEFT NAVIGATION ***/
	nav {

		float:left;
		width:25%;
		height:auto;
		z-index:-1;
		overflow:hidden;
	}
	
	nav a[href^="http://"] {
		background: url(img/external.png) center right no-repeat;
		padding-right: 13px;
	}
	
	.nav_fixed {
		position:fixed;
		top: 0;
		width:25%;
	}
	
	.nav_static {
		position:static;
		top:auto;
		width:25%;
	}
	
	table.superNav { border-collapse:collapse; width:100%; table-layout:fixed; }
	
	
	/** <nav>'s Header rows **/
	table.superNav tr:first-child:hover {
		cursor:pointer;
		color:#6971A3;
	}
	table.superNav tr:first-child:active {
		color:#004771;
	}
	
	table.superNav tr:first-child th, tr:first-child td { 
		border-bottom:2px solid #A39979; 
		width:100%;
	}
	
	/* <nav>'s Header row Header ("App Projects", "Graphics", "Resume") */
	table.superNav tr:first-child th {
		text-align:left;
		padding:10px 0;
		padding-left:5px;
		
		font-family: 'Neuton', serif;
		font-size:1.4em;
	}
	/* <nav>'s Header row "(Go ->)" */
	table.superNav tr:first-child td { 
		text-align:right; 
		padding-left: 20px; 
		font-weight:bold; 
	}
	
	

	/** <nav>'s Body rows **/
	tr.subNav td {
		color:#5C5C5A;
		padding:10px 2%;
		text-align:right;
	}
	
	/* Align left-most column */
	tr.subNav td:first-child { text-align:left; }
	
	ul.subNavList li {
		padding-bottom:10px;
		text-align:right;
		list-style-position:inside;
		list-style-type:circle;
	}
	
	
/*** SECTION ***/
	section {
		float:right;
		width:73%;  /* of the page. Extra 2% whitespace between nav & section */
		height:100%;
		overflow:hidden;
		padding:25px;
		
		background-color:#CACFF0;
		border-left:4px solid #A39979;
		border-right:4px solid #A39979;
		
		text-align:center; /* center section content */
	}

	/** <section>'s Navigation Bar (App Projects, Graphics, Resume) **/
	div#sectionNavBar { 
		clear:both; 
		margin-top:20px;
		border-top:2px solid #555555; 
	}
	
	ul#sectionNavList li {
		display:inline;
		padding:0px 10px;
		border-left:2px solid #555555;
		
		font-family: 'Neuton', serif;
		font-size:1.2em;
	}
	ul#sectionNavList li:first-child { border-left:none }
	
	.navBtn:hover {
		cursor:pointer;
		color: #6971A3;
	}
	.navBtn:active {
		color:#004771;
	}

	
	/** Introduction **/
	div#introDiv { display:inline-block; clear:both; }
	img#profileImg {
		width:30%;
		border-radius:50%;

		display: inline;
		float:left;
	}
	
	div#introP {
		width:68%; /* 95% */
		height:20%;
		margin: 0 auto;
		margin-left:2%;
		padding:2%;
		background-color:white;

  		/* For p's vertical align */
		display:inline-table;
		float:right;
		
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:15px;
	}
	
	div#speechBubble p {
		display:table-cell;
		text-align:center;
		vertical-align:middle;
		display:block;
	}
	
	/** <section>'s Section-Divs **/
	div#appProjDiv, div#graphicsDiv, div#resumeDiv {
		display:none;
	}
	
/*** FOOTER ***/
	footer {
		height:80px;
		width:100%;
		clear:both;
		
		margin:0 auto;
		padding:2%;
	
		background:#FFFBF0;
		border-top:3px solid #A39979;
	
		text-align:center;
		font-size:0.9em;
	}
	
	/* Total width 90% */
	#footerLeft { display:inline-block; vertical-align:middle; text-align:left; width:30% }
	#footerRight { display:inline-block; vertical-align:middle; text-align:right; width:60% }
	
	
	/** Social Media Icons **/
	ul#footerIconList li {
		display:inline;
		padding-right:3px;

		/* Fade effect on hover */		
		opacity: 1;
		transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
	}
	
	ul#footerIconList li:hover {
		opacity:0.5;
	}
	
	ul#footerIconList li a img {
		width:25px;
	}


/*** Fixes for Firefox.	***/
	@-moz-document url-prefix() { 
	  
	  #content {
	  	width:100%;
	  	padding: 0 5%;
	  }
	  
	  nav, .nav_static { width:30%; }
	  
	  section { width:61%; }
	  
	  footer { width:auto; }
	  
	  img#profileImg { width:25%; }
	}