/** Complimentary Colors 
* Base Color (white sand): #F0E7CA;
* Lighter: #FFFBF0;
* Darker: #A39979;
* Complimentary (indigo) : #6971A3; 
* Complimentary (lilac) : #004771;
*/

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

header, section, footer, aside, nav, main, article, figure
{ 
	display: block !important; 
}

* { box-sizing: border-box; } /* Correct padding */
ul, p { margin: 0; padding: 0; } /* reset webkit-margins */
p { line-height:1.5em; }
p + p { margin-top: 1em; }
li { list-style-type:none; }
a { text-decoration:none; color:#004771; }
a:hover { color:#9dabce; }
a:visited { color:#004771 }
a:visited:hover { color:#9dabce; }

.left { float:left }
.right { float:right }

body {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background-color:#F5F5DC;
}
	
/********* HEADER ********/
	header {
		width:100%;
		height:140px;
		padding: 10px 0;
		z-index:0;
		text-align:center;
		background-color:#eee;
		
		background-image:url('img/header.jpg');
	    background-repeat: repeat-x;

	}
	
	header h1 {
		letter-spacing:3px;
	}

	div#subinfo {
		width:35%;
		margin:0 auto;
		
		/* Centers div itself within page */
		left:25%;
		width:50%;
		top:25%;
		
		/* Distributes elements within div evenly */
		text-align: center;
		-ms-text-justify: distribute-all-lines;
		text-justify: distribute-all-lines;
		
	}

	div#subinfo a {
		max-width:300px;
			
		/* even distribution fixes for IE6 */
		display: inline-block;
		*display: inline;
		
		padding-bottom:0;
		padding:0 2%;
	}
	
	/* The LinkedIn link in the middle */
	div#subinfo a#midLnk {
		border-left:1px solid;
		border-right:1px solid;
	}


/********* BODY ********/
	div#content {
		clear: both; 
		margin: 0 auto;
		width: 90%;
		height:100%;
		
		/* Distributes elements within div evenly */
		text-align: center;
		-ms-text-justify: distribute-all-lines;
		text-justify: distribute-all-lines;
	}
	
	nav, section {
		/* even distribution fixes for IE6 */
		display: inline-block;
		*display: inline;
		text-align:left;
	}
	
	
/*** LEFT NAVIGATION ***/
	nav {
		float:left;
		width:23%; /* of the page. Extra 2% whitespace between nav & section */
		position:fixed;
	
		text-align:center;
		background-color:#6971A3;
		
		border-top-left-radius:15px;
		border-top-right-radius:15px;
		border-bottom-left-radius:15px;
		border-bottom-right-radius:15px;
	}
	
	
	nav h3 {
		width:100%;
	}
	
	nav h3:hover {
		cursor:pointer;
	}
	
	
	ul.subNav li {
		display:none;
		text-align:right;
		padding:10px;

		border-bottom:2px solid black;
		background-color:#9dabce;
	}
	
	ul.subNav li:first-child {
		border-top:2px solid #A39979;
	}

	
/*** SECTION WITH CONTENT ***/
	section {
		float:right;
		width:73%;
		height:100%;
		padding:25px;
		
		background-color:#CACFF0;
		border-left:4px solid #A39979;
		border-right:4px solid #A39979;
	}
	
	/* Fix for Firefox 
	* Problem: nav,content ignoring #content's 90% width so must re-calculate
	*/
	@-moz-document url-prefix() { 
	  nav {
	  	width:13%;
	  }
	  
	  nav ul {
	  	width:87%;
	  }
	  
	  section {
		 width:61%;
	  }
	}
	
	img#profileImg {
		width:30%;
		border-radius:50%;
		display:inline;
		float:left;
	}
	
	div#speechBubble {
		display:inline;
		float:right;
		margin-left:2%;
		
		width:68%; /* 95% */
		height:20%;
		margin: 0 auto;
		background-color:white;
		
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:15px;
		
		padding:2%;
		/* For vertical align */
		display:table;
	}
	
	div#speechBubble p {
		display:table-cell;
		text-align:center;
		vertical-align:middle;
		display:block;
	}