/** Complimentary Colors 
* Base Color (white sand): #F0E7CA;
* Lighter: #FFFBF0;
* Darker: #A39979;
* Complimentary (lilac) : #6971A3; 
* Complimentary (indigo) : #004771;
*/

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

header, section, footer, aside, nav, main, article, figure
{ 
	display: block !important; 
}

* { box-sizing: border-box; } /* Correct padding */
ul, p { margin: 0; padding: 0; } /* reset webkit-margins */
p { line-height:1.5em; }
p + p { margin-top: 1em; }
li { list-style-type:none; }
a { text-decoration:none; color:#004771; }
a:hover { color:#9dabce; }
a:visited { color:#004771 }
a:visited:hover { color:#9dabce; }



body {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	background-color:#F5F5DC;
}
	
/********* HEADER ********/
	header {
		width:100%;
		height:140px;
		padding: 10px 0;
		z-index:0;
		text-align:center;
		background-color:#eee;
		
		background-image:url('img/header.jpg');
	    background-repeat: repeat-x;
	}
	
	header h1 {
		font-family: 'Neuton', serif;
		letter-spacing:4px;
	}

	div#subinfo {
		width:35%;
		margin:0 auto;
		text-align: center;
		letter-spacing:2px;
		
		/* Centers div itself within page */
		left:25%;
		width:50%;
		top:25%;	
	}


/********* BODY ********/
	div#content {
		clear: both; 
		margin: 0 auto;
		width: 90%;
		height:100%;
		
		text-align: center;
	}
	
	nav, section {
		text-align:left;
	}
	
	
/*** LEFT NAVIGATION ***/
	nav {
		float:left;
		width:25%;
		height:75%;
		text-align:center;
	}
	
	.nav_fixed {
		position:fixed;
		top: 0;
		width:25%;
	}
	
	.nav_static {
		position:static;
		top:auto;
		width:25%;
	}
	
	nav h3 {
		width:100%;
		text-align:left;
		padding-left:5px;
		
		border-bottom:2px solid #A39979;
	}
	
	ul.subNav li {
		text-align:right;
		padding-bottom:10px;
	}
	
	ul.subNav li:hover {
		cursor:pointer;
		color:#6971A3;
	}
	ul.subNav li:active {
		color:#004771;
	}

	
/*** SECTION WITH CONTENT ***/
	section {
		float:right;
		width:73%;  /* of the page. Extra 2% whitespace between nav & section */
		height:100%;
		padding:25px;
		
		background-color:#CACFF0;
		border-left:4px solid #A39979;
		border-right:4px solid #A39979;
		
		text-align:center; /* center section content */
	}
	
	/* Fix for Firefox 
	* Problem: nav,content ignoring #content's 90% width so must re-calculate
	*/
	@-moz-document url-prefix() { 
	  nav {
	  	width:13%;
	  }
	  
	  nav ul {
	  	width:87%;
	  }
	  
	  section {
		 width:61%;
	  }
	}
	
	img#profileImg {
		width:30%;
		border-radius:50%;

		display: inline;
		float:left;
	}
	
	div#speechBubble {
		width:68%; /* 95% */
		height:20%;
		margin: 0 auto;
		margin-left:2%;
		padding:2%;
		background-color:white;

  		/* For p's vertical align */
		display:inline-table;
		float:right;
		
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:15px;
	}
	
	div#speechBubble p {
		display:table-cell;
		text-align:center;
		vertical-align:middle;
		display:block;
	}
	
	
/*** FOOTER ***/
	footer {
		height:80px;
		width:100%;
		clear:both;
		
		margin:0 auto;
		margin-top:10px;
		padding:2%;
		
	
		background:#FFFBF0;
		border-top:3px solid #A39979;
	
		text-align:center;
		font-size:0.9em;
	}
	
	#footerLeft { display:inline-block; vertical-align:middle; text-align:left; width:45% }
	#footerRight { display:inline-block; vertical-align:middle; text-align:right; width:45% }
	
	/*** Social Media Icons ***/
	
	ul#footerIconList li {
		display:inline;
		padding-right:3px;

		/* Fade effect on hover */		
		opacity: 1;
		transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
	}
	
	ul#footerIconList li:hover {
		opacity:0.5;
	}
	
	ul#footerIconList li a img {
		width:25px;
	}