/* Media Queries for Standard Devices
* From Code-Tricks.com (April 28, 2013) 
*/

/* screens less than 645px width wide */
@media screen and (max-width: 645px) { 

/********* HEADER ********/
	header {
		height:140px;
	}
	
/********* BODY ********/

	div#content {
		width:100%;
	}
	
	section {
		width:100%;
		clear:both;
		margin-left:0;
	}
	
	/* Fix for Firefox
	* Problem: nav,content ignoring #content's 95% width so must re-calculate
	* Taking into account 2.5% left/right margins
	*/
	@-moz-document url-prefix() { 
	  nav, section {
		 width:90% !important;
	  }
	}
	
/*** LEFT NAVIGATION ***/
	
	nav {
		display:block !important;
		position:static;
		clear:both;
		float:none;
				
		height:auto;
		width:100%;
		margin:10px 0;

		text-align:left;
		border-top:2px solid #A39979;
	}
	
	div.superNav {
		overflow:auto;

		padding:3%;
		background-color:#F0E7CA;
		border-bottom:2px solid #A39979;
	}
	
	div.superNav h3 {
		display:inline;
		clear:left;

		width:auto;
		border-bottom:none;
		border-right:2px
	}
	
	div.superNav .subNav {	
		display:inline-block;
		vertical-align:middle;
		text-align:right;

		float:right;
		clear:right;
		overflow:hidden;
		
		width:75%;
	}
	
	div.superNav ul.subNav li {
		display:inline;
		vertical-align:middle;
		
		padding:3%;
		border-left:2px solid #A39979;
	}
	div.superNav ul.subNav li:first-child {
		border-left:none;
	}
	
	
	/*** SECTION WITH CONTENT ***/
	section {
		border:none;
	}
	
}


/* All Smartphones in portrait ----------- */
@media only screen 
and (max-width : 567px) {
	
}


/* All Smartphones in landscape ----------- */
@media only screen 
and (min-width : 321px) {

}



