/* Media Queries for Standard Devices
* From Code-Tricks.com (April 28, 2013) 
*/

/* screens less than 645px width wide */
@media screen and (max-width: 645px) { 

/********* HEADER ********/
	header {
		height:140px;
	}
	
/********* BODY ********/

	div#content {
		width:100%;
	}
	
	section {
		width:100%;
		clear:both;
		margin-left:0;
	}
	
	/* Fix for Firefox
	* Problem: nav,content ignoring #content's 95% width so must re-calculate
	* Taking into account 2.5% left/right margins
	*/
	@-moz-document url-prefix() { 
	  nav, section {
		 width:90% !important;
	  }
	}
	
/*** LEFT NAVIGATION ***/
	
	nav {
		display:block !important;
		position:static;
		clear:both;
		float:none;
				
		height:auto;
		width:100%;
		margin:10px 0;

		text-align:left;
	}
	
	/* Nav's Header row Header, add border-top */
	table.superNav tr:first-child th, tr:first-child td { 
		border-top:2px solid #A39979;
	}
	
	/* Center Nav Header */
	table.superNav tr:first-child th { text-align:right; }
	table.superNav tr:first-child td { text-align:left; }
	
	/* Center Nav Rows */
	tr.subNav td:first-child { text-align:right; }
	tr.subNav td { text-align:left; }

	/* Center Graphics list */
	ul.subNavList li {
		text-align:center;
	}
	
	
	/* 
	div.superNav {
		overflow:auto;
		padding:3%;
		background-color:#F0E7CA;
		border-bottom:2px solid #A39979;
	}
	
	div.superNav h3 {
		display:inline;
		clear:left;

		width:auto;
		border-bottom:none;
		border-right:2px;
	}
	
	div.superNav .subNav {	
		display:inline-block;
		vertical-align:middle;
		text-align:right;

		float:right;
		clear:right;
		overflow:hidden;
		
		width:75%;
	}
	
	div.superNav ul.subNav li {
		display:inline;
		vertical-align:middle;
		
		padding:3%;
		border-left:2px solid #A39979;
	}
	div.superNav ul.subNav li:first-child {
		border-left:none;
	} */
	
	
	/*** SECTION WITH CONTENT ***/
	section {
		border:none;
	}


/*** Fixes for Firefox.	***/
	@-moz-document url-prefix() { 
		div#content, section {
			width:auto !important;
		}
	
	}

	
}

